# Bu dosyayı .env olarak kopyala ve değerleri doldur
# .env asla repoya commit edilmez

ROBOT_1_ID=browse_ai_robot_id_buraya
ROBOT_2_ID=browse_ai_robot_id_buraya
MAKE_WEBHOOK_URL=https://hook.eu1.make.com/buraya
WEBHOOK_SECRET=guclu_bir_rastgele_string_buraya
